@import './Variables.scss';

* {
    box-sizing: border-box;
}

.header {
    background: $header-bg-color;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid $header-br-color;
    height: 70px;
}

body,
.app-content {
    background: $body-bg-color;
}

.brand-logo .SVGInline {
    display: block;
    position: relative;
    top: -3px;
}

.zrp-message {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 700;
}

@media (min-width: 1200px){
    .header .container {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container.app-content {
        width: 100%;
    }
}