@import './Variables.scss';

.hotel {
    background: $white;
    margin-bottom: 15px;
    border: 1px solid $grey-999;
    padding: 10px;
    padding-right: 0;
    box-shadow: 1px 2px 4px $hotel-boxs-color;
    min-width: 270px;

    .hotel__info,
    .hotel__image,
    .hotel__price,
    .hotel__details {
        display: inline-block;
    }

    .hotel__details,
    .hotel__price {
        vertical-align: top;
    }

    .hotel__info {
        width: 80%;
        border-right: 1px dashed $grey-777;
    }

    .hotel__price {
        width: 20%;
        height: 100%;
        text-align: center;
        vertical-align: middle;

        .disclaimer,
        .price,
        .hotel__button {
            display: block;
        }

        .hotel__button {
            margin: 0 auto;
            width: 70%;
            background: $button-bg-color;
            color: $white;
            font-weight: 700;
            font-size: 16px;
        }

        .price,
        .disclaimer {
            margin-bottom: 8px;
        }

        .disclaimer {
            font-size: 12px;
            width: 125px;
            margin: 0 auto;
            color: $grey-555;
            margin-bottom: 8px;
        }

        .price .symbol,
        .price .amount {
            display: inline-block;
            vertical-align: middle;
            color: $price-font-color;
        }

        .price .amount {
            font-size: 30px;
            font-weight: 700;
            padding-left: 3px;
        }

        .price .symbol {
            font-size: 20px;
        }
    }

    .hotel__details {
        margin-left: 20px;
        width: 42%;
    }

    .hotel__name {
        color: $highlight-font-color;
        font-weight: 700;
        font-size: 15px;
    }

    .hotel__image {
        width: 250px;
        .img {
            object-fit: cover;
            width: 250px;
            height: 170px;
        }
    }

    .hotel__stars {
        margin-top: 5px;
        .star {
            margin-right: 3px;
        }
    }

    .hotel__amenities {
        margin-top: 12px;
        .SVGInline {
            margin-right: 8px;
        }
    }
    
}

@media screen and (max-width: 700px) {
    .container.app-content,
    .col-md-3.col-sm-12,
    .col-md-12 {
        padding: 0;
    }

    .hotel {
        padding-right: 10px;
        min-width: 100%;
        .hotel__info {
            display: block;
            border-right: 0;
            border-bottom: 1px dashed $grey-777;
            width: 100%;
        }

        .hotel__image {
            display: block;
            width: 100%;
            .img {
                width: 100%;
            }
        }

        .hotel__details {
            margin: 0;
            margin-top: 10px;
            width: 96%;
            display: block;
            margin-bottom: 20px;
        }

        .hotel__price {
            margin-top: 10px;
        }

        .hotel__price,
        .hotel__price .hotel__button {
            width: 100%;
        }
    }
}

@media screen and (min-width: 377px) and (max-width: 700px) {
    .hotel__image {
        margin: 0 auto;
    }
}

@media screen and (max-width: 376px) {
    .hotel__image {
        margin: 0;
    }
}