@import './Variables.scss';

.qcat {
    .qcat__header {
        height: 44px;
        background: $white;
        font-size: 18px;
        font-weight: 700;
        padding: 10px 15px;
        border-bottom: 3px solid $body-bg-color;
    }

    .panel.panel-default {
        box-shadow: none;
        border: 0;
        margin-top: 0;
        border-radius: 0;
        margin-bottom: 3px;

        a.collapsed,
        a:focus,
        a:hover {
            text-decoration: none;
        }
    }

    .panel-heading {
        background: $white;
        border: 0;
        border-radius: 0;
        color: $highlight-font-color;
        font-weight: 700;
    }

    .panel-body {
        border-radius: 0;
        border-bottom: 3px solid $body-bg-color;
    }

    .panel-group .panel-heading+.panel-collapse>.list-group,
    .panel-group .panel-heading+.panel-collapse>.panel-body {
        border-top: 0;
    }

    .SVGInline,
    .panel-title,
    p {
        display: inline-block;
    }

    .panel-title {
        margin-left: 10px;
    }

    .name-input,
    .name-submit {
        height: 35px;
        display: inline-block;
        vertical-align: middle;
    }

    .name-submit,
    .stars-submit {
        background: $button-bg-color;
        color: $white;
        margin-left: 32px;
        top: 1px;
        font-weight: 700;
        border-bottom: 3px solid $button-br-color;
    }

    .stars-form {
        label {
            display: block;
        }

        input {
            margin-right: 8px;
        }
    }

    p {
        margin: 0;
    }

    #qcat-panel-name .panel-body {
        border-bottom: 0;
    }
}

@media screen and (max-width: 991px) {
    .qcat {
        margin-bottom: 20px;
        
        #qcat-panel-name {
            .name-input {
                width: 70%;
            }
            button {
                width: 23%;
                margin-left: 20px;
            }
        }
    
        .panel-heading,
        .qcat__header {
            text-align: center;
        }
    }
}