//--------------------------------
$button-bg-color: #002A79;
$header-bg-color: #05397D;
$header-br-color: #436F97;
$body-bg-color: #F4F4F4;
$hotel-boxs-color: #dadada;
$price-font-color: #e16800;
$highlight-font-color: #0679b3;
$button-br-color: #00153D;

//--------------------------------
$white: #fff;
$grey-999: #eee;
$grey-777: #999;
$grey-555: #666;